@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap");
@import "./abstracts/var.scss";
@import "./abstracts/mixins.scss";
@import "./sections/first-section.scss";
@import "./sections/services.scss";
@import "./sections/app.scss";
@import "./sections/clients.scss";
@import "./sections/article.scss";
@import "./sections/footer.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}