
/* Desktop - ekran ölçüsü 1280px-dən çox;
tablet- ekran ölçüsü 992px-dən 1279px-ə qədər ;
smartfon - ekran ölçüsü 320px-dən 991px-ə qədər. */

@media screen and (min-width: 992px) and (max-width: 1279px) {
  section {
    min-width: 1399px;

    header {
      min-width: 1399px;
      margin-top: 45px;

      .navbar {
        @include display;
        .nav_logo {
          @include display;
          margin-left: 25px;

          h1 {
            background-color: $backgroundColor;
            width: 30.53px;
            height: 31px;
            text-align: $text-align;
            padding-top: 2px;
            border-radius: $border-radius;
            color: $color;
          }
          h2 {
            font-weight: 700;
            font-size: 20px;
            margin-left: 11.86px;
          }
        }
        .nav_list {
          transform: translateX(60px);
          ul {
            list-style: none;
            display: flex;
            li {
              .a-nth-child {
                text-decoration: none;
                margin: 0 39.54px;
                font-weight: 400;
                font-size: 18px;
                color: #1f1534;
                line-height: 23px;
                opacity: 0.5;
              }
              .a-first-child {
                text-decoration: none;
                margin: 0 39.54px;
                font-weight: bold;
                font-size: 18px;
                color: #1f1534;
              }
            }
          }
        }
      }
      .main {
        @include display;

        .main_items {
          width: 439.91px;
          display: flex;
          flex-direction: column;
          margin-left: 55px;
          .points {
            width: 130px;
            height: 115px;
            transform: translateX(-140px);
          }
          h1 {
            font-weight: 700;
            font-size: 30px;
            color: black;
            line-height: 56px;
            padding-bottom: 25px;
          }
          p {
            font-weight: 300;
            font-size: 18px;
            line-height: 32px;
            color: #7d7987;
          }
          button {
            width: 192.71px;
            height: 55px;
            border-radius: 55px;
            margin-top: 55px;
            background-color: $backgroundColor;
            border: none;
            color: $color;
            font-weight: 700;
            font-size: 15px;
          }
        }
        .main_img {
          width: 615.085px;
          height: 598px;
          margin-top: 84px;
        }
      }
    }
  }

  .our-services {
    min-width: 1399px;
    background-image: url(/img/Vector.png);
    background-repeat: no-repeat;
    transform: translateX(100px);
    flex-direction: column;
    .hr {
      width: 50px;
      height: 2px;
      background-color: black;
    }
    .top {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 98px;
      h1 {
        margin: 40px;
      }
      p {
        margin: 20px;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        width: 852px;
        text-align: $text-align;
        color: #7d7987;
      }
    }
    .cards {
      display: grid;
      justify-content: center;
      grid-template-rows: 350 350;
      grid-template-columns: 354px 354px 354px;
      column-gap: 20px;
      row-gap: 20px;
    }
    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5,
    .card-6 {
      background-color: $color;
      border-radius: 6px;
      box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);

      img {
        margin-left: 34px;
        margin-top: 24px;
      }
      .frame-1 {
        width: 61.98px;
        height: 60px;
      }
      .frame-2 {
        width: 31.86px;
        height: 55px;
      }
      .frame-3,
      .frame-4 {
        width: 37.29px;
        height: 65px;
      }
      .frame-5 {
        width: 50px;
        height: 41.15px;
      }
      .frame-6 {
        width: 39.42;
        height: 65px;
      }
      h1 {
        margin-left: 34px;
        margin-top: 22.41px;
        line-height: 36px;
        font-size: 19px;
      }
      p {
        width: 196px;
        margin-left: 34px;
        font-weight: 300;
        font-size: 17px;
        line-height: 20px;
        color: #7d7987;
      }
    }
    .bottom {
      display: flex;
      justify-content: center;
      margin-top: 69px;
      button {
        width: 180px;
        height: 40px;
        border-radius: 30px;
        color: $backgroundColor;
        border: 1px solid $backgroundColor;
        background-color: $color;
      }
    }
  }

  .providers {
    min-width: 1399px;
    @include display;
    margin-top: 80px;
    .provider_text {
      width: 466px;
      transform: translateX(-50px);
      display: flex;
      flex-direction: column;
      h1 {
        font-weight: 700;
        font-size: 28px;
        line-height: 46px;
        color: #000000;
      }
      .hr {
        margin-top: 26px;
        width: 60px;
        height: 1px;
        background-color: black;
      }
      p {
        font-weight: 300;
        font-size: 18px;
        line-height: 20px;
        margin-top: 30px;
        color: #7d7987;
      }
      button {
        width: 180px;
        height: 40px;
        border-radius: 55px;
        border: 1px solid $backgroundColor;
        color: $backgroundColor;
        background-color: $color;
        margin-top: 37px;
      }
    }
    img {
      width: 86%;
    }
  }

  .mobile_apps {
    min-width: 1399px;

    @include display;
    margin-top: 90px;
    .mobile_text {
      width: 420px;
      display: flex;
      flex-direction: column;
      margin-left: 60px;
      h1 {
        font-weight: 700;
        font-size: 28px;
        line-height: 48px;
        color: #000000;
      }
      .hr {
        margin-top: 26px;
        width: 56px;
        height: 2px;
        background-color: black;
      }
      p {
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        margin-top: 31px;
        color: #7d7987;
      }
      button {
        width: 170px;
        height: 40px;
        border-radius: 55px;
        border: 1px solid $backgroundColor;
        color: $backgroundColor;
        background-color: $color;
        margin-top: 37px;
      }
      .download {
        transform: translateY(2px);
      }
    }
    .mobile_img {
      img {
        width: 110%;
        transform: translateX(110px);
      }
    }
  }

  .clients {
    min-width: 1399px;
    @include display;
    flex-direction: column;
    margin-top: 99px;
    transform: translateX(100px);
    .container {
      width: 1220px;
      height: 425px;
      background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
      border-radius: 24px;
      text-align: $text-align;

      color: $color;
      h2 {
        margin-top: 64px;
        font-weight: 700;
        font-size: 26px;
        line-height: 48px;
      }
      .hr {
        display: inline-block;
        width: 56px;
        height: 2px;
        background-color: $color;
      }
      .clients-inner {
        display: flex;
        align-items: center;
        margin: 92px;
        .clients-left {
          margin: 17px;
          display: flex;
          justify-content: space-around;
          .left-text {
            margin-left: -96px;
            margin-top: 10px;
          }
          img {
            margin-right: -48px;
            width: 95px;
            margin-top: 9px;
          }
          h3 {
            font-weight: 700;
            font-size: 18px;
            line-height: 48px;
            color: $color;
            width: 489px;
          }
          p {
            color: $color;
            margin-left: -28px;
          }
        }
        .clients-right {
          margin-top: -14px;
          margin-left: 100px;
          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.9);
            width: 361px;
            text-align: start;
          }
        }
      }
    }
    img {
      margin-top: 23px;
    }
  }

  .article {
    min-width: 1429px;
    background-image: url(/img/Vector\ \(5\).png);
    background-position: right;
    background-repeat: no-repeat;
    transform: translateX(100px);
    flex-direction: column;
    margin-top: 99px;
    .hr {
      width: 50px;
      height: 2px;
      background-color: black;
    }
    .top {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 98px;
      h1 {
        font-weight: 700;
        font-size: 26px;
        line-height: 46px;
        margin: 40px;
      }
    }
    .cards {
      display: grid;
      justify-content: center;
      grid-template-rows: 512px;
      grid-template-columns: 350px 350px 350px;
      column-gap: 40px;
      row-gap: 40px;
      margin-top: 79px;
    }
    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5,
    .card-6 {
      background-color: $color;
      border-radius: 6px;
      box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
      img {
        width: 350px;
        height: 250px;
      }
      h1 {
        font-weight: 700;
        font-size: 19px;
        line-height: 32px;
        margin-left: 13px;
        margin-top: 24px;
        width: 235px;
      }
      p {
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        color: #7d7987;
        margin-left: 13px;
        width: 196px;
      }
      .read-more {
        color: $backgroundColor;
      }
      .vector {
        width: 14px;
        height: 9px;
        margin-left: 7px;
      }
    }

    .button {
      display: flex;
      min-width: 1100px;
      margin-top: 69px;
      justify-content: center;
      align-items: center;
      button {
        width: 190px;
        height: 50px;
        border-radius: 30px;
        transform: translateX(-20px);
        color: #458ff6;
        border: 1px solid $backgroundColor;
        background-color: $color;
      }
    }
  }

  footer {
    min-width: 1599px;
    height: 432px;
    background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
    margin-top: 90px;
    .footer_main {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .trafalgar {
        width: 391px;
        .trafalgar_heading {
          display: flex;
          margin-top: 97px;
          h1 {
            background-color: $color;
            width: 40.53px;
            height: 41px;
            text-align: $text-align;
            padding-top: 2px;
            border-radius: $border-radius;
            color: $backgroundColor;
            margin-right: 20px;
            margin-top: -8px;
          }
          h2 {
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: $color;
          }
        }
        p {
          font-weight: 300;
          font-size: 18px;
          line-height: 28px;
          color: $color;
          margin-top: 22px;
        }
      }
      .company {
        margin-top: 97px;
        h2 {
          font-weight: 700;
          font-size: 20px;
          line-height: 60px;
          color: $color;
        }
        p {
          font-weight: 300;
          font-size: 18px;
          line-height: 38px;
          color: $color;
        }
      }
      .region {
        margin-top: 97px;
        h2 {
          font-weight: 700;
          font-size: 20px;
          line-height: 60px;
          color: $color;
        }
        p {
          font-weight: 300;
          font-size: 18px;
          line-height: 38px;
          color: $color;
        }
      }
      .help {
        margin-top: 97px;
        h2 {
          font-weight: 700;
          font-size: 20px;
          line-height: 60px;
          color: $color;
        }
        p {
          font-weight: 300;
          font-size: 18px;
          line-height: 38px;
          color: $color;
        }
      }
    }
    img {
      width: 131.58px;
      height: 115px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  section {
    min-width: 1772px;
    header {
      min-width: 1747px;
      margin-top: 46px;

      .navbar {
        @include display;
        .nav_logo {
          @include display;
          margin-left: -25px;

          h1 {
            background-color: $backgroundColor;
            width: 40.53px;
            height: 41px;
            text-align: $text-align;
            padding-top: 5px;
            border-radius: $border-radius;
            color: $color;
          }
          h2 {
            font-weight: 700;
            font-size: 24px;
            margin-left: 11.86px;
          }
        }
        .nav_list {
          transform: translateX(60px);

          ul {
            list-style: none;
            display: flex;
            li {
              .a-nth-child {
                text-decoration: none;
                margin: 0 39.54px;
                font-weight: 400;
                font-size: 18px;
                color: #1f1534;
                line-height: 23px;
                opacity: 0.5;
              }
              .a-first-child {
                text-decoration: none;
                margin: 0 39.54px;
                font-weight: bold;
                font-size: 18px;
                color: #1f1534;
              }
            }
          }
        }
      }
      .main {
        @include display;

        .main_items {
          width: 439.91px;
          display: flex;
          flex-direction: column;
          margin-left: 55px;
          .points {
            width: 130px;
            height: 115px;
            transform: translateX(-140px);
          }
          h1 {
            font-weight: 700;
            font-size: 48px;
            color: black;
            line-height: 56px;
            padding-bottom: 25px;
          }
          p {
            font-weight: 300;
            font-size: 21px;
            line-height: 32px;
            color: #7d7987;
          }
          button {
            width: 197.71px;
            height: 60px;
            border-radius: 55px;
            margin-top: 55px;
            background-color: $backgroundColor;
            border: none;
            color: $color;
            font-weight: 700;
            font-size: 18px;
          }
        }
        .main_img {
          width: 685.085px;
          height: 598px;
          margin-top: 84px;
        }
      }
    }
  }

  .our-services {
    min-width: 1470px;
    flex-direction: column;
    transform: translateX(170px);

    .hr {
      width: 50px;
      height: 2px;
      background-color: black;
    }
    .top {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 98px;
      h1 {
        margin: 40px;
      }
      p {
        margin: 20px;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        width: 952px;

        color: #7d7987;
      }
    }
    .cards {
      display: grid;
      justify-content: center;
      grid-template-rows: 350px 350px 350px 350px 350px 350px;
      grid-template-columns: 554px;
      column-gap: 20px;
      row-gap: 20px;
    }
    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5,
    .card-6 {
      background-color: $color;
      border-radius: 6px;
      box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);

      img {
        margin-left: 54px;
        margin-top: 34px;
      }
      .frame-1 {
        width: 91.98px;
        height: 90px;
      }
      .frame-2 {
        width: 61.86px;
        height: 85px;
      }
      .frame-3,
      .frame-4 {
        width: 67.29px;
        height: 95px;
      }
      .frame-5 {
        width: 80px;
        height: 71.15px;
      }
      .frame-6 {
        width: 69.42;
        height: 95px;
      }
      h1 {
        margin-left: 34px;
        margin-top: 22.41px;
        line-height: 56px;
      }
      p {
        width: 466px;
        margin-left: 34px;
        font-weight: 300;
        font-size: 20px;
        line-height: 28px;
        color: #7d7987;
      }
    }
    .bottom {
      display: flex;
      justify-content: center;
      margin-top: 59px;
      button {
        width: 200px;
        height: 60px;
        border-radius: 30px;
        color: $backgroundColor;
        border: 1px solid $backgroundColor;
        background-color: $color;
      }
    }
  }
  .providers {
    min-width: 1000px;
    width: 1623px;
    transform: translateX(38px);
    @include display;
    margin-top: 80px;
    .provider_text {
      width: 466px;
      display: flex;
      flex-direction: column;
      h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 56px;
        color: #000000;
      }
      .hr {
        margin-top: 26px;
        width: 60px;
        height: 1px;
        background-color: black;
      }
      p {
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        margin-top: 30px;
        color: #7d7987;
      }
      button {
        width: 200px;
        height: 60px;
        border-radius: 55px;
        border: 1px solid $backgroundColor;
        color: $backgroundColor;
        background-color: $color;
        margin-top: 37px;
      }
    }
  }

  .mobile_apps {
    transform: translateX(80px);
    min-width: 1649px;
    @include display;
    margin-top: 90px;
    .mobile_text {
      width: 420px;
      display: flex;
      flex-direction: column;

      h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        color: #000000;
      }
      .hr {
        margin-top: 26px;
        width: 56px;
        height: 2px;
        background-color: black;
      }
      p {
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        margin-top: 31px;
        color: #7d7987;
      }
      button {
        width: 200px;
        height: 60px;
        border-radius: 55px;
        border: 1px solid $backgroundColor;
        color: $backgroundColor;
        background-color: $color;
        margin-top: 37px;
      }
      .download {
        transform: translateY(2px);
      }
    }
  }
  .clients {
    min-width: 1763px;
    @include display;
    flex-direction: column;
    margin-top: 99px;
    .container {
      width: 1120px;
      height: 425px;
      background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
      border-radius: 24px;
      text-align: $text-align;

      color: $color;
      h2 {
        margin-top: 64px;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
      }
      .hr {
        display: inline-block;
        width: 56px;
        height: 2px;
        background-color: $color;
      }
      .clients-inner {
        display: flex;
        align-items: center;
        margin: 92px;
        .clients-left {
          margin: -13px;
          display: flex;
          justify-content: space-around;
          .left-text {
            margin-left: -96px;
            margin-top: 30px;
          }
          img {
            margin-right: -40px;
          }
          h3 {
            font-weight: 700;
            font-size: 22px;
            line-height: 48px;
            color: $color;
            width: 489px;
          }
          p {
            color: $color;
            margin-left: -70px;
          }
        }
        .clients-right {
          margin-top: -14px;
          p {
            font-weight: 400;
            font-size: 19px;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.9);
            width: 420px;
            text-align: start;
          }
        }
      }
    }
    img {
      margin-top: 23px;
    }
  }
  .article {
    min-width: 1445px;
    transform: translateX(130px);
    flex-direction: column;
    margin-top: 99px;
     background-image: none;
    .hr {
      width: 50px;
      height: 2px;
      background-color: black;
    }
    .top {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 98px;
      h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 56px;
        margin: 40px;
      }
    }
    .cards {
      display: grid;
      justify-content: center;
      grid-template-rows: 450px 450px 450px;
      grid-template-columns: 512px;
      column-gap: 40px;
      row-gap: 40px;
      margin-top: 79px;
    }
    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5,
    .card-6 {
      background-color: $color;
      border-radius: 6px;
      box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
      img {
        width: 512px;
        height: 240px;
      }
      h1 {
        font-weight: 700;
        font-size: 21px;
        line-height: 32px;
        width: 251px;
        margin-left: 33px;
        margin-top: 24px;
        width: 265px;
      }
      p {
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        color: #7d7987;
        margin-left: 33px;
        width: 266px;
      }
      .read-more {
        color: $backgroundColor;
      }
      .vector {
        width: 14px;
        height: 9px;
        margin-left: 7px;
      }
    }

    .button {
      display: flex;
      min-width: 733px;
      margin-top: 69px;
      justify-content: center;
      align-items: center;
      button {
        transform: translateX(-100px);
        width: 200px;
        height: 60px;
        border-radius: 30px;
        color: #458ff6;
        border: 1px solid $backgroundColor;
        background-color: $color;
      }
    }
  }

  footer {
    min-width: 1900px;
    height: 1594px;
    background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
    margin-top: 90px;
    .footer_main {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      padding: 77px;
      .trafalgar {
        width: 391px;
        .trafalgar_heading {
          display: flex;
          margin-top: 97px;
          h1 {
            background-color: $color;
            width: 40.53px;
            height: 41px;
            text-align: $text-align;
            padding-top: 2px;
            border-radius: $border-radius;
            color: $backgroundColor;
            margin-right: 20px;
            margin-top: -8px;
          }
          h2 {
            font-weight: 700;
            font-size: 44px;
            line-height: 38px;
            color: $color;
          }
        }
        p {
          font-weight: 300;
          font-size: 28px;
          line-height: 34px;
          color: $color;
          margin-top: 22px;
        }
      }
      .company {
        margin-top: 97px;
        width: 377px;
        h2 {
          font-weight: 700;
          font-size: 40px;
          line-height: 60px;
          color: $color;
        }
        p {
          font-weight: 300;
          font-size: 28px;
          line-height: 38px;
          color: $color;
        }
      }
      .region {
        margin-top: 97px;
        width: 377px;
        h2 {
          font-weight: 700;
          font-size: 40px;
          line-height: 60px;
          color: $color;
        }
        p {
          font-weight: 300;
          font-size: 28px;
          line-height: 38px;
          color: $color;
        }
      }
      .help {
        margin-top: 97px;
        width: 377px;
        h2 {
          font-weight: 700;
          font-size: 40px;
          line-height: 60px;
          color: $color;
        }
        p {
          font-weight: 300;
          font-size: 28px;
          line-height: 38px;
          color: $color;
        }
      }
    }
    img {
      width: 131.58px;
      height: 115px;
    }
  }
}

